{% extends 'VemlHelloBundle::base.html.twig' %}

{% block body %}
    <h1>Házszámok</h1>
    {% if results is null %}
        Keresés:
        <form action="{{ path('_hazszamok') }}" method="post" class="form-horizontal">
            {{ form_widget(form) }}
            <button type="submit">Keresés</button>
        </form>
        <a href="{{ path('_hazszamok', {'filter': 'all'}) }}">Az összes házszám listázása.</a>
    {% else %}
        {% if results|length == 0 %}
            Nincs a keresésnek megfelelő eredmény.
        {% else %}
            <a href="{{ path('_hazszamok') }}">Új keresés indítása</a><br/><br/>
            <table class="table table-bordered">
                <tr>
                    <th>Házszám</th>
                    <th>Utcanév</th>
                    <th>Törzslap</th>
                </tr>
                {% for hazszam,hazak in results %}
                    {% for haz in hazak %}
                        <tr>
                            <td class="align_right">{{ hazszam }}</td>
                            <td>{{ haz.utcanev }}</td>
                            <td><a href="{{ haz.link }}" target="_blank">{{ haz.link_title }}</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% endif %}
        <br/><a href="{{ path('_hazszamok') }}">Új keresés indítása</a>
    {% endif %}
{% endblock %}