{% extends 'VemlHelloBundle::base.html.twig' %}

{% block body %}
<h1>Törzslap szerkesztése</h1>

<form action="{{ path('2_sz_torzslap_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">

    <div class="control-group">
        <label class="control-label">1. A törzslap jele:</label>
        <div class="controls">
            P-2
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">2. Forráshely:</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_forrashely) }}</span>
            {{ form_errors(edit_form.forrashely_felek) }}
            {{ form_errors(edit_form.forrashely_akv_neme) }}
            {{ form_errors(edit_form.forrashely_pd) }}

            {{ form_widget(edit_form.forrashely_felek, {'attr': {'class': 'input-mini'}}) }} felek.
            {{ form_widget(edit_form.forrashely_akv_neme, {'attr': {'class': 'input-mini'}}) }} akv. neme
            {{ form_widget(edit_form.forrashely_pd, {'attr': {'class': 'input-mini'}}) }} pd.
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">3. Hiv. székhely:</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_hiv_szekhely) }}</span>
            {{ form_errors(edit_form.hiv_szekhely) }}
            {{ form_widget(edit_form.hiv_szekhely, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">4. Jelzet:</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_jelzet) }}</span>
            {{ form_errors(edit_form.jelzet_ev) }}
            {{ form_errors(edit_form.jelzet_folyoszam) }}

            {{ form_widget(edit_form.jelzet_ev, {'attr': {'class': 'input-mini'}}) }}:{{ form_widget(edit_form.jelzet_folyoszam, {'attr': {'class': 'input-mini'}}) }}
            év:fsz.
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">5. A halál ideje:</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_halal_ideje) }}</span>
            {{ form_errors(edit_form.halal_ideje_ev) }}
            {{ form_errors(edit_form.halal_ideje_ho) }}
            {{ form_errors(edit_form.halal_ideje_nap) }}

            {{ form_widget(edit_form.halal_ideje_ev, {'attr': {'class': 'input-mini', 'size': 4}}) }}.{{ form_widget(edit_form.halal_ideje_ho, {'attr': {'class': 'input-mini', 'size': 2}}) }}.{{ form_widget(edit_form.halal_ideje_nap, {'attr': {'class': 'input-mini', 'size': 2}}) }} év, hó, nap
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">6. Szül. (szárm.) hely (szab.):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_szul_hely_szab) }}</span>
            {{ form_errors(edit_form.szul_hely_szab) }}
            {{ form_widget(edit_form.szul_hely_szab, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">7. Szül. (szárm.) hely (írva):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_szul_hely_irva) }}</span>
            {{ form_errors(edit_form.szul_hely_irva) }}
            {{ form_widget(edit_form.szul_hely_irva, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">8. Lakhely (hal. hely): u. (szab.):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_lakhely_szab) }}</span>
            {{ form_errors(edit_form.lakhely_utca_szab) }}
            {{ form_widget(edit_form.lakhely_utca_szab, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">9. Lakhely (hal. hely): u. (írva):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_lakhely_irva) }}</span>
            {{ form_errors(edit_form.lakhely_utca_irva) }}
            {{ form_widget(edit_form.lakhely_utca_irva, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">10. Lakhely házszám:</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_lakhely_hazszam) }}</span>
            {{ form_errors(edit_form.lakhely_hazszam) }}
            {{ form_widget(edit_form.lakhely_hazszam, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">11. A megholt neve (szab.):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_megholt_neve_szab) }}</span>
            {{ form_errors(edit_form.megholt_neve_szab) }}
            {{ form_widget(edit_form.megholt_neve_szab, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">12. A megholt neve (írva):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_megholt_neve_irva) }}</span>
            {{ form_errors(edit_form.megholt_neve_irva) }}
            {{ form_widget(edit_form.megholt_neve_irva, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">13. A megholt neme:</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_megholt_neme) }}</span>
            {{ form_errors(edit_form.neme_ffi) }}
            {{ form_errors(edit_form.neme_no) }}

            <label for="veml_torzslapbundle_torzslap2type_neme_ffi">Ffi:</label>{{ form_widget(edit_form.neme_ffi) }}
            <label for="veml_torzslapbundle_torzslap2type_neme_no">Nő:</label>{{ form_widget(edit_form.neme_no) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">14. A megholt fogl. (szab.):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_megholt_fogl_szab) }}</span>
            {{ form_errors(edit_form.megholt_fogl_szab) }}
            {{ form_widget(edit_form.megholt_fogl_szab, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">15. Állap., fogl. viszony (írva):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_allap_fogl_viszony_irva) }}</span>
            {{ form_errors(edit_form.allap_fogl_viszony_irva) }}
            {{ form_widget(edit_form.allap_fogl_viszony_irva, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">16. A megholt csal. áll. (szab.):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_cs_all) }}</span>
            {{ form_errors(edit_form.cs_all_notlen_hajadon) }}
            {{ form_errors(edit_form.cs_all_hazas) }}
            {{ form_errors(edit_form.cs_all_ozvegy) }}
            {{ form_errors(edit_form.cs_all_elvalt) }}

            <label for="veml_torzslapbundle_torzslap2type_cs_all_notlen_hajadon">Nőtlen/hajadon:</label>{{ form_widget(edit_form.cs_all_notlen_hajadon) }}
            <label for="veml_torzslapbundle_torzslap2type_cs_all_hazas">Házas:</label>{{ form_widget(edit_form.cs_all_hazas) }}
            <label for="veml_torzslapbundle_torzslap2type_cs_all_ozvegy">Özv.:</label>{{ form_widget(edit_form.cs_all_ozvegy) }}
            <label for="veml_torzslapbundle_torzslap2type_cs_all_elvalt">Elv.:</label>{{ form_widget(edit_form.cs_all_elvalt) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">17. A megholt kora:</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_kora) }}</span>
            {{ form_errors(edit_form.kora_ev) }}
            {{ form_errors(edit_form.kora_ho) }}
            {{ form_errors(edit_form.kora_het) }}
            {{ form_errors(edit_form.kora_nap) }}
            {{ form_errors(edit_form.kora_ora) }}


            {{ form_widget(edit_form.kora_ev, {'attr': {'class': 'input-mini'}}) }} év
            {{ form_widget(edit_form.kora_ho, {'attr': {'class': 'input-mini'}}) }} hó
            {{ form_widget(edit_form.kora_het, {'attr': {'class': 'input-mini'}}) }} hét
            {{ form_widget(edit_form.kora_nap, {'attr': {'class': 'input-mini'}}) }} nap
            {{ form_widget(edit_form.kora_ora, {'attr': {'class': 'input-mini'}}) }} óra
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">18.</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_halva_szuletett) }}</span>
            {{ form_errors(edit_form.halva_szuletett) }}
            <label for="veml_torzslapbundle_torzslap2type_halva_szuletett">Halva sz.:</label>{{ form_widget(edit_form.halva_szuletett) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">19. A halál oka (szab.):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_halal_oka_szab) }}</span>
            {{ form_errors(edit_form.halal_oka_szab) }}
            {{ form_widget(edit_form.halal_oka_szab, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">20. A halál oka (irva):</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_halal_oka_irva) }}</span>
            {{ form_errors(edit_form.halal_oka_irva) }}
            {{ form_widget(edit_form.halal_oka_irva, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">21. További egykorú adat:</label>
        <div class="controls">
            <span class="bizonytalan">{{ form_widget(edit_form.btlan_tovabbi_egykoru_adat) }}</span>
            {{ form_errors(edit_form.tovabbi_egykoru_adat) }}
            {{ form_widget(edit_form.tovabbi_egykoru_adat, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">22. Megjegyzések:</label>
        <div class="controls">
            {{ form_errors(edit_form.megjegyzesek) }}
            {{ form_widget(edit_form.megjegyzesek, {'attr': {'class': 'span4'}}) }}
        </div>
    </div>

    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Mentés</button>
        <a href="{{ path('2_sz_torzslap') }}" class="btn">
            Vissza a listához
        </a>
    </div>
</form>

<form action="{{ path('2_sz_torzslap_delete', { 'id': entity.id }) }}" method="post" onsubmit="if (!confirm('Biztosan törlöd?')) { return false; }">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger">Törzslap törlése</button>
</form>
{% endblock %}