{% extends 'VemlHelloBundle::base.html.twig' %}

{% block body %}
<h1>Torzslap2 list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Forrashely_felek</th>
            <th>Forrashely_akv_neme</th>
            <th>Forrashely_pd</th>
            <th>Hiv_szekhely</th>
            <th>Jelzet_ev</th>
            <th>Jelzet_folyoszam</th>
            <th>Halal_ideje_ev</th>
            <th>Halal_ideje_ho</th>
            <th>Halal_ideje_nap</th>
            <th>Szul_hely_szab</th>
            <th>Szul_hely_irva</th>
            <th>Lakhely_utca_szab</th>
            <th>Lakhely_utca_irva</th>
            <th>Lakhely_hazszam</th>
            <th>Megholt_neve_szab</th>
            <th>Megholt_neve_irva</th>
            <th>Neme_ffi</th>
            <th>Neme_no</th>
            <th>Megholt_fogl_szab</th>
            <th>Allap_fogl_viszony_irva</th>
            <th>Cs_all_notlen_hajadon</th>
            <th>Cs_all_hazas</th>
            <th>Cs_all_ozvegy</th>
            <th>Cs_all_elvalt</th>
            <th>Kora_ev</th>
            <th>Kora_ho</th>
            <th>Kora_het</th>
            <th>Kora_nap</th>
            <th>Kora_ora</th>
            <th>Halva_szuletett</th>
            <th>Halal_oka_szab</th>
            <th>Halal_oka_irva</th>
            <th>Tovabbi_egykoru_adat</th>
            <th>Megjegyzesek</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('2_sz_torzslap_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.forrashelyfelek }}</td>
            <td>{{ entity.forrashelyakvneme }}</td>
            <td>{{ entity.forrashelypd }}</td>
            <td>{{ entity.hivszekhely }}</td>
            <td>{{ entity.jelzetev }}</td>
            <td>{{ entity.jelzetfolyoszam }}</td>
            <td>{{ entity.halalidejeev }}</td>
            <td>{{ entity.halalidejeho }}</td>
            <td>{{ entity.halalidejenap }}</td>
            <td>{{ entity.szulhelyszab }}</td>
            <td>{{ entity.szulhelyirva }}</td>
            <td>{{ entity.lakhelyutcaszab }}</td>
            <td>{{ entity.lakhelyutcairva }}</td>
            <td>{{ entity.lakhelyhazszam }}</td>
            <td>{{ entity.megholtneveszab }}</td>
            <td>{{ entity.megholtneveirva }}</td>
            <td>{{ entity.nemeffi }}</td>
            <td>{{ entity.nemeno }}</td>
            <td>{{ entity.megholtfoglszab }}</td>
            <td>{{ entity.allapfoglviszonyirva }}</td>
            <td>{{ entity.csallnotlenhajadon }}</td>
            <td>{{ entity.csallhazas }}</td>
            <td>{{ entity.csallozvegy }}</td>
            <td>{{ entity.csallelvalt }}</td>
            <td>{{ entity.koraev }}</td>
            <td>{{ entity.koraho }}</td>
            <td>{{ entity.korahet }}</td>
            <td>{{ entity.koranap }}</td>
            <td>{{ entity.koraora }}</td>
            <td>{{ entity.halvaszuletett }}</td>
            <td>{{ entity.halalokaszab }}</td>
            <td>{{ entity.halalokairva }}</td>
            <td>{{ entity.tovabbiegykoruadat }}</td>
            <td>{{ entity.megjegyzesek }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('2_sz_torzslap_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('2_sz_torzslap_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('2_sz_torzslap_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}