{% extends 'VemlHelloBundle::base.html.twig' %}

{% block body %}
<a href="{{ path('2_sz_torzslap_new') }}" class="btn btn-primary" style="margin-bottom: 1em;">
    <i class="icon-plus icon-white"></i>
    Új elem
</a>

<h1>2. sz. törzslapok</h1>

{{ entities|length }} db
<table class="table table-bordered records_list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Forráshely</th>
            <th>Jelzet</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.forrashely }}</td>
            <td>{{ entity.jelzet }}</td>
            <td>
                {#<a href="{{ path('2_sz_torzslap_show', { 'id': entity.id }) }}" class="btn btn-info btn-mini">#}
                    {#<i class="icon-eye-open icon-white"></i>#}
                    {#megtekintés#}
                {#</a>#}
                <a href="{{ path('2_sz_torzslap_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-mini">
                    <i class="icon-pencil icon-white"></i>
                    szerkesztés
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a name="bottom" />

<a href="{{ path('2_sz_torzslap_new') }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i>
    Új elem
</a>
{% endblock %}